<div class="input__wrapper">
  {{#if isShowLabel}}
    <label class="input__label" for="{{ name }}">{{ placeholder }}</label>
  {{/if}}

  <input
    class="input"
    type="{{ type }}"
    placeholder="{{placeholder}}"
    name="{{ name }}"
    id="{{ name }}"
  >
</div>
